@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@keyframes gradientAnimation {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}

.animated-border,
.animated-border-divider {
  position: relative;
}

.animated-border::after,
.animated-border-divider::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 4rem;
  top: 1px;
  background: linear-gradient(
    to right,
    #0b00a9,
    #0b00a9,
    #449bff,
    #0b00a9,
    #449bff,
    #0b00a9,
    #0b00a9
  );
  background-size: 400% 100%;
  animation: gradientAnimation 4s linear infinite;
  z-index: -1;
  border-radius: 0.75rem;
}
.animated-border-divider::before {
}
@keyframes carousel {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-carousel {
  animation: carousel 30s infinite linear;
}

.animated-border-divider::after {
  height: 1px;
  animation: borderGrowing 2s ease-out,
    gradientAnimation 4s linear infinite alternate;
}

@keyframes borderGrowing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.bg-gradient-custom {
  background: linear-gradient(
    to bottom,
    rgba(43, 82, 255, 0.18),
    rgba(255, 255, 255, 0.09)
  );
}

.hoverUnderline {
  position: relative;
  cursor: pointer;
}
.hoverUnderline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 3px;
  border-radius: 2px;
  background: #1058bf;
  transition: width 0.5s;
}
.hoverUnderline:hover::after {
  width: 100%;
}

/* .hoverUnderline::before {
  content: "";
  position: absolute;
  right: 50%;
  bottom: -2px;
  width: 0;
  height: 3px;
  border-right-radius: 2px;
  background: #5c96ff;
  transition: width 0.4s;
}

.hoverUnderline:hover::before {
  width: 50%;
} */
